// тут общие переменные, для подключения в scss файле вначале написать @import "variables"
$main-font-weight: 400;
$header-font-size: 20px;
$main-border-radius: 25px;
$title-font-weight:700;
$main-border: 2px solid black;;